@model UserViewModel

<h4>Create a new user</h4>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        @Html.DropDownListFor(model => model.Role, new SelectList(ViewBag.Roles, "Name", "Name"), "Select a Role")
        @Html.ValidationMessageFor(model => model.Role, "")
    </div>

    <div class="form-group">
        <input type="submit" value="Create User" class="btn btn-primary" />
    </div>
</form>